*.git

*~
*.log

*.vscode
*.editorconfig
*.pdf
*.swp
.exemple/

unit*
vgcore*
tmp

ai_test_folder
Server
font.ttf
__pycache__


# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.so

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
zappy_ai
zappy_gui
zappy_server
Mkfile.old
dkms.conf
toto
previous_data.txt

*.spv
notes.txt

vulkan-sdk*

doc_doxygen
build

coverage.*
imgui.ini